* {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

header {
    font-size: 24px;
    color: #F9FAF8;
    font-weight:bold;
}

a {
    font-size: 18px;
    color: #E5E7EB;
}

.link {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.content1, .content2, .content3, .content4, .content5 {
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.content1 {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}

.content2 {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.content2-body {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

div.content2-body > h1 {
    font-size: 48px;
    font-weight: 900px;
    color: #F9FAF8;
}

div.content2-body > p {
    font-size: 18px;
    color: #E5E7EB;
}

div.content2 > img {
    max-height: 300px;
    min-width: 300px;
}

button {
    color: white;
    background-color: #3882F6;
    min-width: 100px;
    min-height: 30px;
    border-radius: 10px;
    border: none;
    max-width: fit-content;
    font-weight: 1200px;
}

.content3 {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.header2 {
    margin: 20px;
    text-align: center;
}


.info > img {
    width:200px;
    height: 200px;
    border: solid 2px #d33d22;
    border-radius: 15px;
    object-fit: cover;
    margin-bottom: 20px;
}

.info > p {
    text-align: center;
}

.content4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 10px;
}